name: Veracode Static Analysis Pipeline Scan

on:
  push:

permissions:
  contents: read

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        repository: ''
        
    - name: Build with Maven
      working-directory: ./app/
      run: mvn -B package --file pom.xml
    - uses: actions/upload-artifact@v1
      with:
        name: my-artifact
        path: app/target/verademo.war
    
  policy-scan:
    runs-on: ubuntu-latest
    steps:
    - uses: veracode/veracode-uploadandscan-action@0.2.1
      with:
          appname: 'GitHub_cax'
          createprofile: true
          filepath: 'app/target/verademo.war'
          vid: '${{secrets.VERACODE_API_ID}}'
          vkey: '${{secrets.VERACODE_API_KEY}}'
#          createsandbox: 'true'
#          sandboxname: 'SANDBOXNAME'
#          scantimeout: 0
#          exclude: '*.js'
#          include: '*.war'
#          criticality: 'VeryHigh'
      continue-on-error: true

        pipeline-scan:
      - run: curl --silent --show-error --fail -O https://downloads.veracode.com/securityscan/pipeline-scan-LATEST.zip
      - run: unzip -o pipeline-scan-LATEST.zip
      - uses: actions/setup-java@v1
        with:
        java-version: 1.8
      - run: java -jar pipeline-scan.jar --veracode_api_id "${{secrets.VERACODE_API_ID}}" --veracode_api_key "${{secrets.VERACODE_API_KEY}}" --fail_on_severity="Very High, High" --file app/target/verademo.war
        continue-on-error: true
        
      - uses: actions/upload-artifact@v1
        with:
        name: ScanResults
        path: results.json
      - name: Convert pipeline scan output to SARIF format
        id: convert
        uses: veracode/veracode-pipeline-scan-results-to-sarif@master
        with:
        source-base-path-1: "^com/veracode:app/src/main/java/com/veracode"
        source-base-path-2: "^WEB-INF:app/src/main/webapp/WEB-INF"
        pipeline-results-json: results.json

        continue-on-error: true

      - name: save standard results
        uses: actions/upload-artifact@v1
        with:
          name: PipelineScanResults
          path: results.json
      - name: save filtered results
        uses: actions/upload-artifact@v1
        with:
          name: filtered-results
          path: filtered_results.json

        veracode-sca-task:
        runs-on: ubuntu-latest
      
        steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Veracode SCA
        env:
          SRCCLR_API_TOKEN: ${{ secrets.SRCCLR_API_TOKEN }}
        uses: lerer/veracode-sca@v1.0.6

        with:
          github_token: ${{ secrets.SRCCLR_SCM_TOKEN}}
          quick: true
          create-issues: true 
          fail-on-cvss: 1
          min-cvss-for-issue: 1
